{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile">
    <img class="avatar" src="/static/images/avatar2.jpg" width="100">
    <h3>Đỗ Văn Linh</h3>
    <!-- <p>My name is Linh or full name Đỗ Văn Linh.</p> -->
    <button class="button" onclick="location.href = 'tel:0867660302'"><i class="fas fa-phone-alt"></i>&nbsp;
        Phone</button><br>
    <button class="button" onclick="location.href = 'mailto:dovanlinh03122001@gmail.com'"><i
            class="fas fa-envelope"></i>&nbsp; Email</button><br>
    <button class="button" onclick="location.href = 'https://facebook.com/od.hnil/'"><i
            class="fab fa-facebook"></i>&nbsp; Facebook</button><br>
    <button class="button" onclick="location.href = 'https://github.com/infinity-linh'"><i
            class="fab fa-github"></i>&nbsp; GitHub</button>
</div>

<div class="contaner_head">
    <h2>Linh's infomation </h2>
</div>

<div class="contaner">
    
    <div class="card_exp">
        <!-- <img src="/static/images/avatar2.jpg" alt="John" style="width:100%"> -->
        <div class="main">
            <h1>Computer Vision</h1>
            <p class="title"><i class="fas fa-cloud"></i> Face regconized</p>
            <p class="title"><i class="fas fa-cloud"></i> Object tracking and mobile robot</p>
            <p class="title"><i class="fas fa-cloud"></i> Determine the possition of an object in space</p>
            <p class="title"><i class="fas fa-cloud"></i> Maze sloving robot</p>

            <h1>NLP(Nature language processing)</h1>
            <p class="title"><i class="fas fa-cloud"></i> Setiment analysis</p>
            <p class="title"><i class="fas fa-cloud"></i> Chat bot + telegram + esp32</p>

            <h1>Hardward base</h1>
            <p class="title"><i class="fas fa-cloud"></i> Arduino</p>
            <p class="title"><i class="fas fa-cloud"></i> Esp32</p>
            <p class="title"><i class="fas fa-cloud"></i> Stm32</p>

        </div>
    </div>
    <div class="card_ski">
        <!-- <img src="/static/images/avatar2.jpg" alt="John" style="width:100%"> -->
        <div class="main">
            <h1>Skill</h1>
            <p class="title"><i class="fas fa-cloud"></i> Sử dụng các công cụ phần mềm liên quan đến Robotic và Ai</p>
            <p class="title"><i class="fas fa-cloud"></i> Có kinh nghiệm làm việc với ngôn ngữ python và các framework như pytorch, tensorflow, cũng như các thư viện phục vụ tính toán </p>
            <p class="title"><i class="fas fa-cloud"></i> Kĩ năng tư duy sáng tạo</p>
            <p class="title"><i class="fas fa-cloud"></i> Tiếng anh nghe, nói, đọc, viết ở mức độ trung bình</p>

        </div>
    </div>
    <div class="card_tar">
        <!-- <img src="/static/images/avatar2.jpg" alt="John" style="width:100%"> -->
        <div class="main">
            <h1>Target</h1>
            <p class="title"><i class="fas fa-cloud"></i> Là sinh viên ngành kĩ thuật robot mong muốn học hỏi thêm kinh nghiệm và cũng như ứng dụng các kĩ thuật học thuật vào môi trường thực tế </p>
            <p class="title"><i class="fas fa-cloud"></i> Có cơ hội thăng tiến và thành công trong công việc</p>
            
        </div>
    </div>
    <div class="card_stu">
        <!-- <img src="/static/images/avatar2.jpg" alt="John" style="width:100%"> -->
        <div class="main">
            <h1>Education</h1>
            <p class="title"><i class="fas fa-cloud"></i> Sinh viên năm 4 chuyên ngành kĩ thuật Robot</p>
            <p class="title"><i class="fas fa-cloud"></i>  Đại học Công Nghệ - Đại Học Quốc Gia Hà Nội</p>
            <p class="title"><i class="fas fa-cloud"></i>  Dự kiến tốt nghiệp năm 2023</p>
            <p class="title"><i class="fas fa-cloud"></i>  Gpa hiện tại 2.9</p>
            <p class="title"><i class="fas fa-cloud"></i>  Hướng phát triển Robotic và AI</p>

        </div>
    </div>
    <div class="card_fav">
        <!-- <img src="/static/images/avatar2.jpg" alt="John" style="width:100%"> -->
        <div class="main">
            <h1>Favorite</h1>
            <p class="title"><i class="fas fa-cloud"></i> Nghe nhạc</p>
            <p class="title"><i class="fas fa-cloud"></i>  Xem phim</p>
            <p class="title"><i class="fas fa-cloud"></i>  Chơi game</p>
            <p class="title"><i class="fas fa-cloud"></i>  ....</p>
            <p class="title"><i class="fas fa-cloud"></i>  ....</p>

        </div>
    </div>
    <!-- <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a> -->
</div>
{% endblock %}