

.content {
    width: 100%;
  }
  
  .upload_part {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 40px;
  }
  
  .upload_button {
    background-color: #FEED06;
    color: black;
    padding: 15px;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    -webkit-box-shadow: 6px 8px 18px -5px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 6px 8px 18px -5px rgba(0, 0, 0, 0.38);
    box-shadow: 6px 8px 18px -5px rgba(0, 0, 0, 0.38);
    cursor: pointer;
  }